@model UnitunesMvc.Core.Database.Entities.Conta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Adicionar Saldo", "Edit", new { id = Model.Id }) 
</p>
