@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Unitunes</h1>
    <p class="lead">Trabalho da disciplina de Arquitetura de Software, projeto e implementação de um sistema de gerenciamento de mídia.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Músicas</h2>
        <p>
            É preciso amar as pessoas <br />
            Como se não houvesse amanhã <br />
            Porque se você parar pra pensar, <br />
            Na verdade não há. <br />
        </p>
    </div>
    <div class="col-md-3">
        <h2>Videos</h2>
        <p>Toto, I've got a feeling we're not in Kansas anymore.</p>
    </div>
    <div class="col-md-3">
        <h2>Podcasts</h2>
        <p>
            I'm sorry but I don't want to be an Emperor, that's not my business.<br />
            I don't want to rule or conquer anyone.<br /> I should like to help everyone if possible, Jew, gentile, black man, white. <br />
            We all want to help one another, human beings are like that.
        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Livros</h2>
        <p>
            In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.
        </p>
    </div>
</div>