@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Unitunes</h1>
    <p class="lead">Lojinha de medias</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Musicas</h2>
        <p>Musicas lalala</p>
    </div>
    <div class="col-md-4">
        <h2>Videos</h2>
        <p>Liaiia</p>
    </div>
    <div class="col-md-4">
        <h2>Podcasts</h2>
        <p>podscasts</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>